#message-section{
    height:10vh;
    width:13%;
    background-color: lightgrey;
    display:none;
    position:absolute;
    top:10%;
    left:30%;
    background-color:yellow;
    animation:fade;
    animation-duration: 3s;
    animation-iteration-count: 0;
    animation-delay: 2s;
    .msg p{
        color:green;
    }
    span{
        float:right;
        position:absolute;
        top:0px;
        right:0px;
    }
}

@keyframes fade {
    0%{
        opacity: 1;
        display: block;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity:0;
        display: none;
    }
}